// Defining color variables
$primary-color: #253858;
$secondary-color: #fbbabe;
$tertiary-color: #c5dde0;
$quaternary-color: #f9c9ac;
$background-color: #ffedd6;
$text-color: #001032;
$border-color: #c2bab7;
$nav-color: #fff7f1;