@import 'variables';

.nav-links {
    color: black;
    background-color: black;
}

nav {
    background-color: $tertiary-color;
    // color: blue;
    padding: 1rem;
    button {
      color: $primary-color;
      padding: 0.5rem 1rem;
      text-decoration: none;
      &:hover {
        background-color: $secondary-color;
        color: $text-color;
        };
      &:focus {
        background-color: $border-color;
        // border-color: $text-color;
        // color: $text-color;
      };
      &:active {
        background-color: $border-color;
        // border-color: $text-color;
        // color: $text-color;
      };
    };
  }